<ActionBar>
  <Label text="Items"></Label>
</ActionBar>

<GridLayout>
  <RadListView
    [items]="items$ | async"
    pullToRefresh="true"
    (pullToRefreshInitiated)="onPullToRefresh($event)"
  >
    <ng-template tkListItemTemplate let-item="item">
      <StackLayout>
        <Label [text]="item.name"></Label>
        <label [text]="item.position"></label>
      </StackLayout>
    </ng-template>
    <ng-template tkListViewFooter>
      <FlexboxLayout
        justifyContent="flex-end"
        width="100%"
        id="addButtonContainer"
        left="0"
      >
        <Button
          class="add-button"
          row="0"
          col="1"
          text="+"
          (tap)="onAdd()"
        ></Button>
      </FlexboxLayout>
    </ng-template>
  </RadListView>
</GridLayout>
